<nav>
  <ul class="pagination">
    <li
      (click)="currentIndex = currentIndex - 1"
      [ngClass]="{ disabled: currentIndex === 0 }"
      class="page-item"
    >
      <a class="page-link">Prev</a>
    </li>
    <ng-container *ngFor="let page of pages; let i = index">
      <li (click)="currentIndex = i" [ngClass]="{ active: currentIndex === i }">
        <a class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      (click)="currentIndex = currentIndex + 1"
      [ngClass]="{ disabled: currentIndex === pages.length - 1 }"
      class="page-item"
    >
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ pages[currentIndex].title }}</h4>
  <img [src]="pages[currentIndex].image" />
</div>
